<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">

{% if section.settings.collection != blank %}
  {% assign collection = section.settings.collection.products %}
{% else %}
  {% assign collection = section.settings.products_list %}
{% endif %}

<style>
  #shopify-section-{{ section.id }} {
    margin: 2rem 0;
  }
  #shopify-section-{{ section.id }} .product-item__image-ratio {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
  }
  #shopify-section-{{ section.id }} .product-item__image-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  #shopify-section-{{ section.id }} .featured-collection__content-container {
    margin-bottom: 2.5rem;
  }
  #shopify-section-{{ section.id }} .product-title {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
  }
  #shopify-section-{{ section.id }} .product-prices {
    font-family: "Poppins", sans-serif;
  }
  #shopify-section-{{ section.id }} .featured-collection__heading {
    font-size: 28px;
    text-align: center;
  }
  #shopify-section-{{ section.id }} .featured-collection__shop-all {
    display: none;
  }
  #shopify-section-{{ section.id }} .product-item__content {
    padding: 1.5rem 0;
  }
  #shopify-section-{{ section.id }} .product-item-url {
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    flex-direction: column;
  }
  #shopify-section-{{ section.id }} .button-container {
    margin-top: 3.5rem;
  }
  #shopify-section-{{ section.id }} .product-item-url-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    margin: 0;
    line-height: normal;
    background: white;
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 10px;
    border: 1px solid #000000;
  }
  #shopify-section-{{ section.id }} .button-container .button {
    font-size: 16px;
    width: 100%;
  }
  #shopify-section-{{ section.id }} .product-item-url-saving {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    margin: 0;
    line-height: normal;
    background: #5C7962;
    color: white;
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 10px;
    border: 1px solid #000000;
  }
  #shopify-section-{{ section.id }} .product-item.hidden-m.active {
    display: block !important;
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .featured-collection__collection-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    #shopify-section-{{ section.id }} .product-item.hidden-m {
      display: none;
    }
  }
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} .button-container .button,
    #shopify-section-{{ section.id }} .button-container {
      display: none;
    }
    .featured-collection__collection-container {
      display: flex;
      gap: 10px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    #shopify-section-{{ section.id }} {
      margin: 3rem 0;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container .product-item {
      width: calc(100% / 2.5);
      min-width: calc(100% / 2.5);
      scroll-snap-align: start;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container::-webkit-scrollbar {
      height: 4px;
      transition: all 0.2s;
      border-radius: 100px;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container:hover::-webkit-scrollbar {
      height: 6px;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 100px;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 100px;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container::-webkit-scrollbar-thumb:hover {
      background: #000;
    }
    #shopify-section-{{ section.id }} .product-item__content {
      text-align: left;
      padding: 1.5rem 0;
    }
    #shopify-section-{{ section.id }} .product-title {
      font-size: 18px;
    }
    #shopify-section-{{ section.id }} .featured-collection__heading {
      font-size: 40px;
      text-align: left;
      margin: 0;
    }
    #shopify-section-{{ section.id }} .featured-collection__content-container-inner {
      display: flex;
      justify-content: space-between;
    }
    #shopify-section-{{ section.id }} .featured-collection__shop-all {
      display: block;
      text-decoration: none;
      color: black;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  @media screen and (min-width: 990px) {
    #shopify-section-{{ section.id }} {
      margin: 4rem 0;
    }
    #shopify-section-{{ section.id }} .featured-collection__collection-container .product-item {
      width: calc(100% / 4.5);
      min-width: calc(100% / 4.5);
    }
  }
</style>

<div class="featured-collection__outer-container">
  <div class="page-width">
    <div class="featured-collection__inner-container">
      <div class="featured-collection__content-container">
        <div class="featured-collection__content-container-inner">
          {% if section.settings.heading != blank %}
            <h2 class="featured-collection__heading">{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.collection.url }}" class="featured-collection__shop-all">
              {{ section.settings.btn_text }}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M3.33334 10H16.6667M16.6667 10L11.6667 5M16.6667 10L11.6667 15" stroke="#5C553A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          {% endif %}
        </div>
        {% if section.settings.subheading != blank %}
          <div class="featured-collection__subheading rte">{{ section.settings.subheading }}</div>
        {% endif %}
      </div>
      <div class="featured-collection__collection-container" role="region" aria-label="Featured Products">
        {% for product in collection, limit: 10 %}
          {% render 'product-item', product: product, loop: forloop.index, collection: section.settings.collection %}
        {% endfor %}
      </div>
      <div class="button-container">
        <div class="button button--primary" >
          Show More
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.button-container .button').forEach(button => {
      button.addEventListener('click', () => {
        document.querySelectorAll('.featured-collection__collection-container .product-item')
          .forEach(item => item.classList.add('active'));
        button.style.display = 'none';
      });
    });
  });
</script>


{% schema %}
{
  "name": "Featured collection v2",
  "class": "featured-collection-v2__section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured products"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "Tag",
      "default": "Best seller"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub heading",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium erat et libero facilisis iaculis. Praesent vehicula tortor in porttitor placerat. Praesent eu eleifend ex. Ut lacinia lobortis orci sed tristique. Nullam quis mauris non nibh venenatis dictum.</p>"
    },
    {
      "type": "checkbox",
      "id": "square_image",
      "label": "Make featured images square",
      "default": true
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "Leave this empty if you want to use Products List below"
    },
    {
      "type": "product_list",
      "id": "products_list",
      "label": "Products list"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "View all"
    }
  ],
  "presets": [
    {
      "name": "Featured collection v2"
    }
  ]
}
{% endschema %}
